:root {
    --margin: 10px;
    --width: 170px
    
}

@media (min-width: 1040px) {
    :root{
        --margin: 12px;
        --width: 190px;
    }
}

@media (min-width: 1140px) {
    :root{
        --margin: 15px;
        --width: 200px;
    }
}

body, html{
	background-color: #303446;
    font-family: 'JetBrainsMono NFP', monospace;
    margin: 0px;
	}

.main-div{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    }

.category {
    width: var(--width);
    margin: var(--margin);
    padding: 12px 12px 20px 12px ;
    border: 2px solid;
    border-radius: 0px;
    text-align: center;
    background-color: #414559;
}

.category > h2 {
    font-size: 16pt;
    margin: 15px;
}

a {	color: #cdd6f4;
	text-decoration:none;
	display:block;
    font-size: 13pt;
	line-height: 1.75;
	
	}

.study-title, .study a:hover{
	color: #8caaee;
}

.social-title, .social a:hover{
	color: #ef9f76;
}

.tech-title, .tech a:hover{
	color: #ca9ee6;
}

.others-title, .others a:hover{
	color: #a6d189;
}
.study, .social, .tech, .others{
    border-color: transparent;
}	
.study:hover{
    border-color: #8caaee;
}

.social:hover{
    border-color: #ef9f76;
}

.tech:hover{
    border-color: #ca9ee6;
}

.others:hover{
    border-color: #a6d189;
}
